/* TODO turn px to rems or % */
/* TODO Add clamp to font-size and % to big paddings and margins */
/* TODO Hover effects, transition effects */
/* TODO create table of content */
/* font-family: "Montserrat", sans-serif;
font-family: "Nunito Sans", sans-serif;
font-family: "Graphik", sans-serif; */
@font-face {
	font-family: "Graphik";
	src: url("../fonts/GraphikBold.otf");
	font-weight: 700;
	font-style: normal;
}

/* ===========================================
1.Reset, Main Paddings And Margins
*/
body {
	padding: 2.5rem 1.5rem 3.125rem 1.5rem;
}

.navbar,
.navbar .container-fluid,
.navbar-brand,
.navbar-nav .nav-item .nav-link,
.navbar-toggler,
.container-fluid {
	margin: 0;
	padding: 0;
}

.hero {
	padding-top: 4.1rem;
}

.about {
	padding-top: 9rem;
}

.services {
	padding-top: 8.93rem;
}

.portfolio {
	padding-top: 4.26rem;
}

/* ===========================================
2.Typography, Font Colors, Buttons
*/
/* Typography and Colors*/
body {
	color: white;
	background: #19191b;
}

input,
button,
.btn,
textarea,
select {
	font: inherit;
}

h1 {
	font-family: "Graphik", sans-serif;
	font-size: 2.25rem;
	line-height: 150%;
	padding-bottom: 1.374rem;
}

h2 {
	font-family: "Nunito Sans", sans-serif;
	font-size: 1.41rem;
	line-height: 136%;
	font-weight: 600;
	padding: 1.32rem 0 1rem 0;
}

.main-title {
	font-size: 2.625rem;
}

.services-title {
	margin-bottom: 4.66rem;
}

.navbar-nav .nav-item .nav-link,
p {
	font-family: "Nunito Sans", sans-serif;
	font-size: 1rem;
	line-height: 150%;
	color: rgba(255, 255, 255, 0.7);
}

.card-text {
	font-family: "Nunito Sans", sans-serif;
	font-size: 1rem;
	line-height: 160%;
	color: rgba(255, 255, 255, 0.7);
}

/* Buttons */
.btn {
	width: 10.37rem;
	height: 2.7rem;
	font-family: "Nunito Sans", sans-serif;
	font-size: 1.002rem;
	font-weight: 600;
	line-height: 1.375rem;
	color: white;
	background: #5454d4;
	border-radius: 0;
	margin-top: 2.19rem;
}

.btn span {
	padding-left: 0.74rem;
}

/* ===========================================
3.Layout
*/

.geometric-icon {
	position: absolute;
}

/* ===========================================
4.Navbar
*/
.navbar-brand {
	margin: 0.09rem 0 0 -0.0625rem;
}

.brand-img {
	width: 7.1875rem;
}

.navbar-toggler {
	margin-top: 0.09rem;
}

.navbar-toggler:focus {
	box-shadow: none;
}


/* ===========================================
5.Hero
*/
/* Hero Image */
.hero-img-container {
	position: relative;
	margin-top: 6.07rem;
	margin-left: 0.63rem;
}

.hero-img {
	width: 94.5%;
}

.hero-icon-zig-zag {
	top: -0.09rem;
	left: -0.69rem;
	width: 3.875rem;
}

.hero-icon-double-circles {
	top: -1.53rem;
	right: 1.16rem;
	width: 2.25rem;
}

.hero-icon-double-polygons {
	bottom: -2.45rem;
	left: -0.625rem;
	width: 4.06rem;
}

.hero-icon-plus {
	bottom: 1.56rem;
	right: 0.5rem;
	width: 2.4rem;
}


/* ===========================================
6.About Section
*/
.video-container {
	position: relative;
	margin-top: 3rem;
}

.btn-play-pause {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #5454d4;
	width: 2.5rem;
	height: 2.5rem;
	border: none;
	border-radius: 50%;
}

.icon-play {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 0.75rem;
	height: 0.75rem;
}

.icon-pause {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 0.75rem;
	height: 0.75rem;
}

/* ===========================================
7.Services Section
*/
.services {
	position: relative;
}

.services-cards,
.services-card {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.services-card {
	width: 16rem;
	background-color: transparent;
	margin-bottom: 7.63rem;
}

.card-img-container {
	position: relative;
	width: 4.31rem;
	height: 4.31rem;
	border-radius: 50%;
}

.card-img-container-development {
	background: rgba(84, 84, 212, 0.1);
}

.card-img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 2rem;
}

.services-icon-double-polygons {
	top: 4.19rem;
	left: -0.25rem;
	width: 4.06rem;
}

.services-icon-plus-up {
	top: 14.63rem;
	right: -0.88rem;
	width: 1.85rem;
}

.services-icon-plus-down {
	bottom: 1.63rem;
	left: -0.125rem;
	width: 1.85rem;
}

/* ===========================================
8.Portfolio Section
*/
.portfolio {
	position: relative;
	height: 748px;
}

.carousel {
	position: absolute;
	top: 226px;
    left: -24px;
}

.carousel-item-img-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 375px;
	height: 294px;
	background: #1e1e20;
	border-radius: 14px;
}

.carousel-item-img {
	width: 327px;
	border-radius: 12px;
}
.carousel-control-prev,
.carousel-control-next {
	top: 344px;
	width: 38.21px;
	height: 38.21px;
	border-radius: 50%;
	background-color: #5454D4;
}

.carousel-control-prev {
	left: 142px;
}

.carousel-control-next {
	right: 143px;
}

.portfolio-icon-zig-zag {
	bottom: 4.7rem;
    left: 0.5rem;
	width: 3.875rem;
}

.portfolio-icon-double-circles {
	top: 7.75rem;
    right: 0.5rem;
	width: 2.5rem;
	transform: rotate(-20.89deg);
}
