/* TODO turn px to rems or % */
/* TODO Add clamp to font-size and % to big paddings and margins */
/* TODO Hover effects */
/* font-family: "Montserrat", sans-serif;
font-family: "Nunito Sans", sans-serif;
font-family: "Graphik", sans-serif; */
@font-face {
    font-family: "Graphik";
    src: url("../fonts/GraphikBold.otf");
    font-weight: 700;
    font-style: normal;
}

/* ===========================================
1.RESET 
*/
.container-fluid,
.navbar,
.navbar-brand,
.navbar-nav .nav-item .nav-link,
.navbar-toggler {
	margin: 0;
	padding: 0;
}

.hero {
    padding-top: 4.1rem;
}

input,
button,
.btn,
textarea,
select {
    font: inherit;
}

/* ===========================================
2.TYPOGRAPHY, FONT COLORS, BUTTONS
*/
/* Typography */
.title {
    font-family: "Graphik", sans-serif;
    font-size: 2.25rem;
    line-height: 150%; 
	padding-bottom: 1.374rem;
}

.main-title {
	font-size: 2.625rem;
}

/* Font Colors */
body {
	color: white;
}

.navbar-nav .nav-item .nav-link,
p {
	font-family: "Nunito Sans", sans-serif;
	font-size: 1rem;
	line-height: 150%;
	color: rgba(255, 255, 255, 0.7);
}

/* Buttons */
.btn {
	width: 10.37rem;
	height: 2.7rem;
	font-family: "Nunito Sans", sans-serif;
	font-size: 1.002rem;
	font-weight: 600;
	line-height: 1.375rem;
	color: white;
	background: #5454D4;
	border-radius: 0;
	margin-top: 2.19rem;
}

.btn span {
	padding-left: 0.74rem;
}


/* ===========================================
3.NAVBAR 
*/
.navbar-brand {
	margin: 0.09rem 0 0 -0.0625rem;
}

.navbar-toggler {
	margin-top: 0.09rem;
}



/* MAIN */
body {
	/* color: rgba(255, 255, 255, 0.7); */
	background: #19191b;
	padding: 2.5rem 1.5rem 3.125rem 1.5rem;
}
/* Navbar */
.navbar-toggler:focus {
	box-shadow: none;
}

/* Logo */
.brand-img {
	width: 7.1875rem;
}

/* Hero */
/* Hero Image */
.hero-img-container {
	position: relative;
	margin-top: 6.07rem;
    margin-left: 0.63rem;
}

.hero-img {
	width: 94.5%;
}

.hero-icon {
	position: absolute;
}

.hero-icon-zig-zag {
	top: -0.09rem;
	left: -0.69rem;
	width: 3.875rem;
}

.hero-icon-double-circles {
	top: -1.53rem;
    right: 1.16rem;
	width: 2.25rem;
}

.hero-icon-double-polygons {
	bottom: -2.45rem;
    left: -0.625rem;
	width: 4.06rem;
}

.hero-icon-plus {
	bottom: 1.56rem;
    right: 0.5rem;
	width: 2.4rem;
}

